body {
    background-color: #FBFBFF;
}

head, h1 {
    text-align: center;
}

.buttonArea {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
}
.button {
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height, same as width */
    font-size: 32px; /* Adjust font size if needed */
    background-color: rgba(159,176,250,255);
    color: white; /* Text color */
    border-color: black; /* black border */
    border-radius: 0; /* Ensure no rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    
    margin: auto;
}