/* General layout settings */
* {
  margin: 0rem;
}

/* Fonts */
/* Geist Mono */
.geist-mono-header_text {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Noto Sans */
.noto-sans-body_text {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Icons formatting */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Container */
.container {
  padding-top: 5.5rem;
  padding-bottom: 2.8rem;
}

/* Headers */
h1 {
  text-align: center;
  font-family: "Geist Mono", monospace;
  font-size: 5rem;
  font-weight: 50rem;
  color: #16325B;
  margin-top: 4.4rem;
}
h3 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  color: #000000;
  margin-top: 2.1rem;
}
h6 {
  text-align: center;
  font-family: "Geist Mono", monospace;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 1.8rem;
}
p {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #FFFFFF;
  margin-top: 0.5rem;
}

/* Holds all the buttons in a grid */
.button_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 1.35rem 1.35rem;
}
/* Button container for lessons page (5 x 2)*/
.lessons_btn_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 1.35rem 1.35rem;
}

/* This button layout is used for the four buttons on the main menu (tutorial, lessons, practice, and speed typing) */
.main_menu_btns {
  background-color: #16325B;
  color: #FFFFFF;
  border-width: 0.1875rem;
  border-color: #16325B;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none;
  font-family: "Geist Mono", monospace;
  font-size: 3.125rem;
  font-weight: 500;
  transition-duration: 0.4s;
}
.main_menu_btns:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #16325B;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #16325B;
  color: #FFFFFF;
  left: 0rem;
  bottom: 0rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  margin-top: 6.25rem;
  margin-bottom: 0rem;
}