















button {
  background: inherit;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #1c437c;
  color: #FFFFFF;
  outline: none;
}

button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

#metronome {
  display: inline-flex;
  vertical-align: middle;
  border: 2px solid #16325B;
  border-radius: 0.3rem;
  height: 1.6rem;
  line-height: 1.35rem;
  background: #16325B;
}

#metronome > * {
  padding: 0 0.33rem;
}

#metronome > * + * {
  border-left: 2px solid #FFFFFF;
}

#metronome.on button.toggle .play,
#metronome.off button.toggle .pause,
#metronome.off button.slower,
#metronome.off button.faster {
  display: none;
}

#metronome span {
  text-align: center;
  min-width: 4.5rem;
}

#practice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#practice > * + * {
  margin-top: 4rem;
}

#practice > section {
  width: 80%;
  font-size: 1.35rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 2.75rem;
  padding: 0.5rem;
  border: 2px solid #16325B;
}

#practice > section > div {
  flex: 1;
  text-align: center;
  height: 1.6rem;
  line-height: 1.5rem;
}

#practice > section.given {
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

#practice > section.typed {
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  margin-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

#practice > section.typed > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#practice .count {
  font-weight: 700;
}

@keyframes blink {
  0% {
    background: #16325B;
    color: #FFFFFF;
  }
  40% {
    background: #16325B;
    color: #FFFFFF;
  }
  50% {
    background: transparent;
    color: #16325B;
  }
  90% {
    background: transparent;
    color: #16325B;
  }
  100% {
    background: #16325B;
    color: #FFFFFF;
  }
}

#practice > section.given > .hl {
  background: #335485;
}

#practice > section.typed > .hl {
  background: #16325B;
  color: #FFFFFF;
}

#practice > section > .hl.animated {
  animation: blink;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}

#practice > section > .err {
  background: #ff495999;
  color: #000;
}

#practice .weights {
  display: none;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 4rem;
  width: 22rem;
  position: relative;
}

#practice .weights > div {
  display: none;
  flex-direction: column;
  border: 2px solid #16325B;
  border-radius: 0.3rem;
  min-width: 4.5rem;
}

#practice .weights .chars {
  font-style: italic;
  padding: 0.4rem 0.5rem;
  text-align: center;
}

#practice .weights > div .weight {
  display: none;
  border-top: 2px solid #16325B;
  background: #FFFFFF;
}

#practice .weights > div .weight > * {
  display: none;
  justify-content: center;
  align-items: center;
}

#practice .weights > div .weight > * + * {
  border-left: 2px solid #16325B;
}

#practice .weights > div .weight > span {
  flex: 1;
}

#practice .weights > div .weight > span::before {
  content: "x";
}

#practice .weights .controls {
  display: flex;
  flex-direction: column;
}

#practice .weights .controls > * {
  padding: 0.3rem;
}

#practice .weights .controls > * + * {
  border-top: 2px solid #16325B;
}

#practice .weights > .lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

body {
  background-color: #FFFFFF;
  margin: 0rem 0rem;
  margin-bottom: 0rem;
}

head, h1 {
  text-align: center;
}

.buttonArea {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}
.button {
  width: 6.25rem; /* Set the desired width */
  height: 6.25rem; /* Set the desired height, same as width */
  font-size: 2rem; /* Adjust font size if needed */
  background-color: #16325B;
  color: white; /* Text color */
  border-color: #FFFFFF; /* black border */
  border-radius: 0; /* Ensure no rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  
  margin: auto;
}
